::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body {
  /*backdrop-filter: blur(10px);*/
  background-image: url("https://pic.re/image");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); /* Transparent white */
  border-radius: 16px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur the background */
  -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  padding: 20px; /* Inner padding */
  color: #fff; /* Text color for contrast */
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-button:vertical {
  display: none;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.38);
}

/* dark */

.hope-ui-dark ::-webkit-scrollbar-corner,
.hope-ui-dark ::-webkit-scrollbar-track {
  background-color: rgb(15, 15, 15);
}

.hope-ui-dark ::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
}

.hope-ui-dark ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgb(58, 58, 58);
}

.hope-ui-dark ::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgb(58, 58, 58);
}

.hope-select__option {
  flex-shrink: 0;
}
